img {
    max-width: 90%;
    height: auto;
    border-radius: 50%;
    border-color: red;
    border-width: 5px;
    border-style: solid;
    margin: 5%;
}

header {
    text-align: center;
}

html {
    overflow-x: hidden;
}
