img {
    max-width: 90%;
    height: auto;
    border-radius: 50%;
    border-color: red;
    border-width: 5px;
    border-style: solid;
    margin: 5%;
}

header {
    background: aquamarine;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 30px;
}

#text {
    color: blue;
    text-align: justify;
    margin: 5%;

}

html {
    overflow-x: hidden;
}



.Title {
    color: blue;
}